In [399]:
import pandas as pd
import re

In [400]:
#Data Internet

#Data Nacional

df_nacional_internet_ingresos_trim=pd.read_csv("data/Ingresos_trimestrales_prestación_servicio_Internet_fijo.csv")
df_nacional_internet_tipo_trim=pd.read_csv("data/Serie_trimestral_accesos_Internet_fijo_por_tecnología.csv")
df_nacional_internet_accesos_velocidad_media_trim=pd.read_csv("data\Velocidad_Media_de_bajada_Internet_fijo.csv")

#Data Provincia

df_provincial_internet_accesos_tecnologia_trim=pd.read_csv("data/Acceso_Internet_fijo_por_tecnología_y_provincia.csv")
df_provincial_internet_accesos_habitantes_trim=pd.read_csv("data/Penetración_de _Internet fijo _(accesos _cada_100 hogares).csv")
df_provincial_internet_accesos_velocidad_media_trim=pd.read_csv("data/Velocidad_media_bajada_Internet_fijo_por_provincia.csv")

#### Visualizo como están planteados los datos

Nacionales

In [401]:
df_nacional_internet_ingresos_trim.head()

    Año  Trimestre Ingresos (miles de pesos)        Periodo
0  2022          1                51.432.896   Ene-Mar 2022
1  2021          4                45.467.887   Oct-Dic 2021
2  2021          3                42.999.944  Jul-Sept 2021
3  2021          2                38.239.667   Abr-Jun 2021
4  2021          1                36.676.371   Ene-Mar 2021

In [402]:
df_nacional_internet_ingresos_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        33 non-null     int64
 1   Trimestre                  33 non-null     int64
 2   Ingresos (miles de pesos)  33 non-null     object
 3   Periodo                    33 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [403]:
df_nacional_internet_tipo_trim.head()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,1,1.533.240,6.073.426,2.219.533,545.814,251.996,10.624.009,Ene-Mar 2022
1,2021,4,1.657.615,5.984.240,2.072.236,523.107,252.596,10.489.794,Oct-Dic 2021
2,2021,3,1.950.631,5.826.257,1.566.048,492.415,250.190,10.085.541,Jul-Sept 2021
3,2021,2,2.018.587,5.641.731,1.472.246,476.968,253.552,9.863.084,Abr-Jun 2021
4,2021,1,2.175.211,5.424.782,1.362.976,434.548,250.455,9.647.972,Ene-Mar 2021

In [404]:
df_nacional_internet_tipo_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           33 non-null     int64
 1   Trimestre     33 non-null     int64
 2   ADSL          33 non-null     object
 3   Cablemodem    33 non-null     object
 4   Fibra óptica  33 non-null     object
 5   Wireless      33 non-null     float64
 6   Otros         33 non-null     float64
 7   Total         33 non-null     object
 8   Periodo       33 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 2.4+ KB

In [405]:
df_nacional_internet_accesos_velocidad_media_trim.head()

    Año  Trimestre  Mbps (Media de bajada)    Trimestre.1
0  2022          4                  10.656   Oct-Dic 2022
1  2022          3                   6.246  Jul-Sept 2022
2  2022          2                   5.844   Abr-Jun 2022
3  2022          1                   5.511   Ene-Mar 2022
4  2021          4                   5.234   Oct-Dic 2021

In [406]:
df_nacional_internet_accesos_velocidad_media_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     36 non-null     int64
 1   Trimestre               36 non-null     int64
 2   Mbps (Media de bajada)  36 non-null     float64
 3   Trimestre.1             36 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.3+ KB

Provinciales

In [407]:
df_provincial_internet_accesos_tecnologia_trim.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,1,Buenos Aires,392.045,2.728.865,1.242.121,125.521,66.872,4.555.424
1,2022,1,Capital Federal,102.290,1.217.225,62.308,5.784,29.934,1.417.541
2,2022,1,Catamarca,14.181,15.517,29.118,1.328,2.234,62.378
3,2022,1,Chaco,32.391,64.546,36.662,8.164,2.356,144.119
4,2022,1,Chubut,44.133,66.667,9.184,30.592,21.052,171.628

In [408]:
df_provincial_internet_accesos_tecnologia_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793 entries, 0 to 792
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           793 non-null    object
 1   Trimestre     793 non-null    object
 2   Provincia     792 non-null    object
 3   ADSL          792 non-null    object
 4   Cablemodem    792 non-null    object
 5   Fibra óptica  792 non-null    object
 6   Wireless      792 non-null    object
 7   Otros         792 non-null    float64
 8   Total         792 non-null    object
dtypes: float64(1), object(8)
memory usage: 55.9+ KB

In [409]:
df_provincial_internet_accesos_habitantes_trim.head()

    Año  Trimestre        Provincia Accesos por cada 100 hogares
0  2022          1     Buenos Aires                        76,08
1  2022          1  Capital Federal                        111,8
2  2022          1        Catamarca                        58,21
3  2022          1            Chaco                        44,06
4  2022          1           Chubut                        88,05

In [410]:
df_provincial_internet_accesos_habitantes_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           792 non-null    int64
 1   Trimestre                     792 non-null    int64
 2   Provincia                     792 non-null    object
 3   Accesos por cada 100 hogares  792 non-null    object
dtypes: int64(2), object(2)
memory usage: 24.9+ KB

In [411]:
df_provincial_internet_accesos_velocidad_media_trim.head()

    Año  Trimestre        Provincia  Mbps (Media de bajada)
0  2022          4     Buenos Aires                 111.000
1  2022          4  Capital Federal                  18.286
2  2022          4        Catamarca                   8.333
3  2022          4            Chaco                  10.402
4  2022          4           Chubut                   1.592

In [412]:
df_provincial_internet_accesos_velocidad_media_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     864 non-null    int64
 1   Trimestre               864 non-null    int64
 2   Provincia               864 non-null    object
 3   Mbps (Media de bajada)  864 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 27.1+ KB

### Transformación de datos

df_nacional_internet_ingresos_trim

In [413]:
df_nacional_internet_ingresos_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        33 non-null     int64
 1   Trimestre                  33 non-null     int64
 2   Ingresos (miles de pesos)  33 non-null     object
 3   Periodo                    33 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

Necesito cambiar el tipo de dato de Ingresos (miles de pesos)

In [414]:
#Eliminar los puntos de la columna Ingresos (miles de pesos)
df_nacional_internet_ingresos_trim['Ingresos (miles de pesos)'] = df_nacional_internet_ingresos_trim['Ingresos (miles de pesos)'].str.replace('.', '')

In [415]:
# Convertir la columna "Ingresos (miles de pesos)" a tipo entero
df_nacional_internet_ingresos_trim['Ingresos (miles de pesos)'] = df_nacional_internet_ingresos_trim['Ingresos (miles de pesos)'].astype(int)
# Verificar el DataFrame después de la conversión
print(df_nacional_internet_ingresos_trim.dtypes)

Año                           int64
Trimestre                     int64
Ingresos (miles de pesos)     int32
Periodo                      object
dtype: object

In [416]:
# Eliminamos la columna "periodo" por que no es relevante
df_nacional_internet_ingresos_trim = df_nacional_internet_ingresos_trim.drop(columns=['Periodo'])

In [417]:
df_nacional_internet_ingresos_trim.head()

    Año  Trimestre  Ingresos (miles de pesos)
0  2022          1                   51432896
1  2021          4                   45467887
2  2021          3                   42999944
3  2021          2                   38239667
4  2021          1                   36676371

In [418]:
df_nacional_internet_ingresos_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        33 non-null     int64
 1   Trimestre                  33 non-null     int64
 2   Ingresos (miles de pesos)  33 non-null     int32
dtypes: int32(1), int64(2)
memory usage: 792.0 bytes

Ahora hago lo mismo con los demás datasets

df_nacional_internet_tipo_trim

In [419]:
df_nacional_internet_tipo_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           33 non-null     int64
 1   Trimestre     33 non-null     int64
 2   ADSL          33 non-null     object
 3   Cablemodem    33 non-null     object
 4   Fibra óptica  33 non-null     object
 5   Wireless      33 non-null     float64
 6   Otros         33 non-null     float64
 7   Total         33 non-null     object
 8   Periodo       33 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 2.4+ KB

In [420]:
#Eliminar los puntos 
df_nacional_internet_tipo_trim['ADSL'] = df_nacional_internet_tipo_trim['ADSL'].str.replace('.','')

df_nacional_internet_tipo_trim['Cablemodem'] = df_nacional_internet_tipo_trim['Cablemodem'].str.replace('.','')

df_nacional_internet_tipo_trim['Fibra óptica'] = df_nacional_internet_tipo_trim['Fibra óptica'].str.replace('.','')

df_nacional_internet_tipo_trim['Total'] = df_nacional_internet_tipo_trim['Total'].str.replace('.','')

df_nacional_internet_tipo_trim['Wireless'] = df_nacional_internet_tipo_trim['Wireless'].replace('.','')

df_nacional_internet_tipo_trim['Otros'] = df_nacional_internet_tipo_trim['Otros'].replace('.','')

In [421]:
#Convertir a tipo Int
df_nacional_internet_tipo_trim['ADSL'] = df_nacional_internet_tipo_trim['ADSL'].astype(int)

df_nacional_internet_tipo_trim['Cablemodem'] = df_nacional_internet_tipo_trim['Cablemodem'].astype(int)

df_nacional_internet_tipo_trim['Fibra óptica'] = df_nacional_internet_tipo_trim['Fibra óptica'].astype(int)

df_nacional_internet_tipo_trim['Total'] = df_nacional_internet_tipo_trim['Total'].astype(int)

df_nacional_internet_tipo_trim['Wireless'] = df_nacional_internet_tipo_trim['Wireless'].astype(int)

df_nacional_internet_tipo_trim['Otros'] = df_nacional_internet_tipo_trim['Otros'].astype(int)

# Verificar el DataFrame después de la conversión
print(df_nacional_internet_tipo_trim.dtypes)

Año              int64
Trimestre        int64
ADSL             int32
Cablemodem       int32
Fibra óptica     int32
Wireless         int32
Otros            int32
Total            int32
Periodo         object
dtype: object

In [422]:
# Eliminar la columna "periodo"
df_nacional_internet_tipo_trim = df_nacional_internet_tipo_trim.drop(columns=['Periodo'])

In [423]:
df_nacional_internet_tipo_trim.head()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,1,1533240,6073426,2219533,545,251,10624009
1,2021,4,1657615,5984240,2072236,523,252,10489794
2,2021,3,1950631,5826257,1566048,492,250,10085541
3,2021,2,2018587,5641731,1472246,476,253,9863084
4,2021,1,2175211,5424782,1362976,434,250,9647972

In [424]:
df_nacional_internet_tipo_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           33 non-null     int64
 1   Trimestre     33 non-null     int64
 2   ADSL          33 non-null     int32
 3   Cablemodem    33 non-null     int32
 4   Fibra óptica  33 non-null     int32
 5   Wireless      33 non-null     int32
 6   Otros         33 non-null     int32
 7   Total         33 non-null     int32
dtypes: int32(6), int64(2)
memory usage: 1.4 KB

df_nacional_internet_accesos_velocidad_media_trim

In [425]:
df_nacional_internet_accesos_velocidad_media_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     36 non-null     int64
 1   Trimestre               36 non-null     int64
 2   Mbps (Media de bajada)  36 non-null     float64
 3   Trimestre.1             36 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.3+ KB

In [426]:
# Eliminar la columna Trimestre.1
df_nacional_internet_accesos_velocidad_media_trim.drop(columns=['Trimestre.1'], inplace=True)

In [427]:
df_nacional_internet_accesos_velocidad_media_trim.head()

    Año  Trimestre  Mbps (Media de bajada)
0  2022          4                  10.656
1  2022          3                   6.246
2  2022          2                   5.844
3  2022          1                   5.511
4  2021          4                   5.234

df_provincial_internet_accesos_tecnologia_trim

In [428]:
df_provincial_internet_accesos_tecnologia_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793 entries, 0 to 792
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           793 non-null    object
 1   Trimestre     793 non-null    object
 2   Provincia     792 non-null    object
 3   ADSL          792 non-null    object
 4   Cablemodem    792 non-null    object
 5   Fibra óptica  792 non-null    object
 6   Wireless      792 non-null    object
 7   Otros         792 non-null    float64
 8   Total         792 non-null    object
dtypes: float64(1), object(8)
memory usage: 55.9+ KB

In [429]:
#Eliminar los puntos 
df_provincial_internet_accesos_tecnologia_trim['ADSL'] = df_provincial_internet_accesos_tecnologia_trim['ADSL'].str.replace('.','')

df_provincial_internet_accesos_tecnologia_trim['Cablemodem'] = df_provincial_internet_accesos_tecnologia_trim['Cablemodem'].str.replace('.','')

df_provincial_internet_accesos_tecnologia_trim['Fibra óptica'] = df_provincial_internet_accesos_tecnologia_trim['Fibra óptica'].str.replace('.','')

df_provincial_internet_accesos_tecnologia_trim['Wireless'] = df_provincial_internet_accesos_tecnologia_trim['Wireless'].replace('\.', '', regex=True)

df_provincial_internet_accesos_tecnologia_trim['Total'] = df_provincial_internet_accesos_tecnologia_trim['Total'].replace('\.', '', regex=True)

In [430]:
# Convertir la columna 'Otros' a tipo string (str)
df_provincial_internet_accesos_tecnologia_trim['Otros'] = df_provincial_internet_accesos_tecnologia_trim['Otros'].astype(str)

# Eliminar los puntos y las comas de la columna 'Otros'
df_provincial_internet_accesos_tecnologia_trim['Otros'] = df_provincial_internet_accesos_tecnologia_trim['Otros'].str.replace('[,.]', '', regex=True)

In [431]:
def limpiar_cadena(cadena):
    # Utilizar una expresión regular para encontrar todos los dígitos en la cadena
    numeros = re.findall(r'\d+', str(cadena))
    # Si se encontraron dígitos, unirlos en una cadena y convertirla a entero
    return int(''.join(numeros)) if numeros else 0

# Reemplazar valores no numéricos y NaN por 0 en las columnas antes de la conversión a tipo entero
columnas_a_convertir = ['ADSL', 'Cablemodem', 'Fibra óptica', 'Total', 'Wireless', 'Otros']
for columna in columnas_a_convertir:
    df_provincial_internet_accesos_tecnologia_trim[columna] = df_provincial_internet_accesos_tecnologia_trim[columna].replace(['-', '- 0'], 0)
    df_provincial_internet_accesos_tecnologia_trim[columna] = df_provincial_internet_accesos_tecnologia_trim[columna].apply(limpiar_cadena)

# Verificar el DataFrame después de la conversión
print(df_provincial_internet_accesos_tecnologia_trim.dtypes)

Año             object
Trimestre       object
Provincia       object
ADSL             int64
Cablemodem       int64
Fibra óptica     int64
Wireless         int64
Otros            int64
Total            int64
dtype: object

In [432]:
def limpiar_cadena(cadena):
    # Utilizar una expresión regular para encontrar todos los dígitos en la cadena
    numeros = re.findall(r'\d+', str(cadena))
    # Si se encontraron dígitos, unirlos en una cadena y convertirla a entero
    return int(''.join(numeros)) if numeros else 0

# Limpiar valores en las columnas 'Año' y 'Trimestre'
df_provincial_internet_accesos_tecnologia_trim['Año'] = df_provincial_internet_accesos_tecnologia_trim['Año'].apply(limpiar_cadena)
df_provincial_internet_accesos_tecnologia_trim['Trimestre'] = df_provincial_internet_accesos_tecnologia_trim['Trimestre'].apply(limpiar_cadena)

# Verificar el DataFrame después de la conversión
print(df_provincial_internet_accesos_tecnologia_trim.dtypes)

Año              int64
Trimestre        int64
Provincia       object
ADSL             int64
Cablemodem       int64
Fibra óptica     int64
Wireless         int64
Otros            int64
Total            int64
dtype: object

In [433]:
df_provincial_internet_accesos_tecnologia_trim.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,1,Buenos Aires,392045,2728865,1242121,125521,66872,4555424
1,2022,1,Capital Federal,102290,1217225,62308,5784,29934,1417541
2,2022,1,Catamarca,14181,15517,29118,1328,2234,62378
3,2022,1,Chaco,32391,64546,36662,8164,2356,144119
4,2022,1,Chubut,44133,66667,9184,30592,21052,171628

In [434]:
df_provincial_internet_accesos_tecnologia_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793 entries, 0 to 792
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           793 non-null    int64
 1   Trimestre     793 non-null    int64
 2   Provincia     792 non-null    object
 3   ADSL          793 non-null    int64
 4   Cablemodem    793 non-null    int64
 5   Fibra óptica  793 non-null    int64
 6   Wireless      793 non-null    int64
 7   Otros         793 non-null    int64
 8   Total         793 non-null    int64
dtypes: int64(8), object(1)
memory usage: 55.9+ KB

df_provincial_internet_accesos_habitantes_trim

In [435]:
df_provincial_internet_accesos_habitantes_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           792 non-null    int64
 1   Trimestre                     792 non-null    int64
 2   Provincia                     792 non-null    object
 3   Accesos por cada 100 hogares  792 non-null    object
dtypes: int64(2), object(2)
memory usage: 24.9+ KB

In [436]:
#Cambiar coma a punto
df_provincial_internet_accesos_habitantes_trim['Accesos por cada 100 hogares'] = df_provincial_internet_accesos_habitantes_trim['Accesos por cada 100 hogares'].str.replace(',','.')

In [437]:
#Convertir a tipo float
df_provincial_internet_accesos_habitantes_trim['Accesos por cada 100 hogares'] = df_provincial_internet_accesos_habitantes_trim['Accesos por cada 100 hogares'].astype(float)
# Verificar el DataFrame después de la conversión
print(df_provincial_internet_accesos_habitantes_trim.dtypes)

Año                               int64
Trimestre                         int64
Provincia                        object
Accesos por cada 100 hogares    float64
dtype: object

In [438]:
df_provincial_internet_accesos_habitantes_trim.head()

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2022          1     Buenos Aires                         76.08
1  2022          1  Capital Federal                        111.80
2  2022          1        Catamarca                         58.21
3  2022          1            Chaco                         44.06
4  2022          1           Chubut                         88.05

In [439]:
# Exportar cada DataFrame a su respectivo archivo CSV en las rutas específicas

df_nacional_internet_ingresos_trim.to_csv(r"data\output\Ingresos_trimestrales_prestación_servicio_Internet_fijo_transformado.csv", index=False)

df_nacional_internet_tipo_trim.to_csv(r"data\output\Serie_trimestral_accesos_Internet_fijo_por_tecnología_transformado.csv", index=False)

df_nacional_internet_accesos_velocidad_media_trim.to_csv(r"data\output\Velocidad_Media_de_bajada_Internet_fijo_transformado.csv", index=False)

df_provincial_internet_accesos_tecnologia_trim.to_csv(r"data\output\Acceso_Internet_fijo_por_tecnología_y_provincia_transformado.csv", index=False)

df_provincial_internet_accesos_habitantes_trim.to_csv(r"data\output\Penetración_de _Internet_fijo_(accesos_cada_100_hogares)_transformado.csv", index=False)

df_provincial_internet_accesos_velocidad_media_trim.to_csv(r"data\output\Velocidad_media_bajada_Internet_fijo_por_provincia_transformado.csv", index=False)